/* Style for all elements */
*, body {
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:10pt;
    color: #777777;
}

body {
    background-image: url(../images/ep_naturalwhite.png);
}

/* Header Style */
header {
    background: #ffffff;
    margin-bottom:40px;
    overflow: auto;
    border-bottom: 1px solid #cccccc;
}

.header-container{
    width: 960px;
    margin:auto;
}

.name {
    float: left;
    background: #4aaaa5;
    padding: 25px;
    color: #ffffff;
}

.menu-container{
    text-decoration-line: none;
    float: right;
    flex-wrap: nowrap;
    padding-top:35px;
}

.buttonLink {
    text-decoration-line: none;
}
/* End  */

/* Body Style */
section {
    margin:auto;
    clear: both;
    width: 960px;
    background: #ffffff;
    border: 1px solid #dddddd;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24pt;
    color:#4aaaa5;
}
/* End */

/* About Me Style */

/* Footer Style */
footer{
    padding-top: 35px;
    padding-bottom:5px;
    background: #666666;
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
}

footer * {
    color: white;
}
/* End */